/* =========================
    Root + Global Styles
   ========================= */
:root {
    /*other accent colors: #043C17; #04541F;*/
    accent-color:  #FDDE30;
    background-color: #FFFFFF;
    max-width: 100%;
}

body {
    border-color: black;
    max-width: 1200px;
}

section {}